@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap");
@import "tailwindcss";


@theme{
    --font-display:"Geist Mono", monospace;
    --color-primary:#D8D9C3;
    --color-secondary:#181A1B;
}